@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body, html, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-weight: lighter;
  background: #f6f6f5;
}

.App {
  text-align: left;
  width: 100%;
  position: relative;
}

header, footer {
  background: #fff;
  padding: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  padding: 0;
}

header h1 {
  width: 100%;
  background: #F6F6F4;
  cursor: pointer;
  text-align: center;
}

header h1, footer h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #202020;
  margin: 0;
}

footer h1 a {
  margin: 0 10px;
}

header ul {
  width: 100%;
}

header ul li, footer ul li {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #202020;
  margin: 0 40px;
}

header ul li {
  width: 25%;
  margin: 20px 0;
  text-align: center;
}

header a, footer a,
header a:visited, footer a:visited,
header a:active, footer a:active {
  color: #202020;
  text-decoration: none;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  color: #202020;
  text-align: center;
  font-weight: bold;
  margin-top: 110px;
}

#search {
  font-family: 'Source Sans Pro', sans-serif;
  width: 95%;
  max-width: 850px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px;
  color: #474747;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#search select {
  margin: 0 10px;
  padding: 5px;
  border-radius: 16px;
  background-color: #7dd4c9;
  border: 0;
  outline: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#search select#topic {
  background-color: #f8c255;
}

h3 {
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #202020;
  margin-top: 130px;
  text-align: center;
}

.avatar {
  display: inline-block;
  margin-top: 45px;
  font-size: 135px;
  color: #ccc;
  height: 161px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccc;
}

ul#topics,
ul#candidates {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

ul#candidates a {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  text-decoration: none;
}

ul#topics li,
ul#candidates li {
  margin: 10px;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  position: relative;
}

ul#topics li h4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

ul#topics li h4 img {
  width: 32px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 5px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

ul#topics a,
ul#topics a:visited {
  color: #202020;
}

ul#topics li h4,
ul#candidates li h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #202020;
  margin: 5px;
}

ul#candidates li img {
  margin-top: -10px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

ul#topics li h5,
ul#candidates li h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #202020;
  margin: 5px;
  opacity: 0.5;
}

ul#candidates li {
  cursor: pointer;
}

ul#topics li {
  padding: 32px;
  height: auto;
  max-width: 900px;
  text-align: left;
}

ul#topics p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 5px;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 600;
  color: #202020;
  line-height: 1.5em;
}

ul#topics p.tags {
  opacity: 1;
}

.candidateTag, .topicTag {
  margin: 10px 10px 10px 0;
  border-radius: 16px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  opacity: 1;
  cursor: pointer;
}

.candidateTag {
  background-color: #7dd4c9;
}

.topicTag {
  background-color: #f8c255;
}

div#candidate {
  display: flex;
  max-width: 900px;
  width: 100%;
}

div#candidate .avatar {
  margin: 20px;
  width: 160px;
}

div#candidate img {
  margin-top: -10px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

div#candidate > div > div {
  max-width: 650px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

div#candidate h4 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #202020;
}

div#candidate h5 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 20px;
  color: #202020;
  margin-bottom: 20px;
}

div#candidate .field {
  margin: 0 0 10px 0;
  width: 100%;
}

div#candidate .field strong {
  opacity: 0.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #202020;
}

div#candidate .field span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #202020;
}

.page {
  padding: 20px;
  min-height: 800px;
}

.page p {
  color: black;
  font-size: 24px;
}

#us-web, #us-mobile {
  box-sizing: border-box;
  max-width: 100%;
}

#us-mobile {
  display: none;
}

.license {
  font-size: 12px;
  line-height: 16px;
}

.topics-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topic {
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 200px;
  border-radius: 16px;
  background: #fff;
  color: #202020;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 10px;
  padding-top: 100px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
}

.topic:hover {
  border-color: #ccc;
}

.page p.back, p.back {
  color: #ccc;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.partners {
  text-align: center;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.partners-page {
  text-align: left;
}

.partners-page a:visited,
.partners-page a {
  color: #000;
  font-weight: bold;
}

.partners img {
  border: 1px solid #ccc;
  margin: 20px;
}

.wrap-urls {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.modal {
  color: #202020;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  text-align: justify;
}

.modal a, .modal a:visited {
  color: #202020;
}

@media screen and (max-width: 800px) {
  header {
    text-align: center;
  }

  header h1 {
    margin: 0 auto;
  }

  header h1 img {
    max-width: 100%;
  }

  header ul li {
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  #search * {
    display: block;
  }

  #search {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: block;
  }

  #search svg {
    margin: 0 auto;
    display: block;
  }

  #search select {
    width: 250px;
    margin: 10px auto;
  }

  ul#candidates a, ul#candidates li {
    box-sizing: border-box;
    margin: 10px auto;
  }

  div#candidate h4, div#candidate h5 {
    text-align: center;
  }

  div#candidate {
    flex-wrap: wrap;
  }

  div#candidate .avatar {
    margin: 0 auto;
  }

  div#candidate > div > div {
    max-width: 100%;
    width: auto;
    padding: 10px;
  }

  ul#topics li {
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden;
  }

  footer {
    text-align: center;
    display: block;
  }

  footer img {
    display: block;
    margin: auto;
  }

  footer * {
    margin-bottom: 10px;
  }

  footer b {
    display: block;
  }

  #us-web {
    display: none;
  }

  #us-mobile {
    display: block;
    margin: 0 auto;
  }
}

/* cck css */
.parceiros-list{
  width: 80%;
  margin: 0 auto;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.parceiros-item{
  width: 21%;
  margin: 2%;
}

.parceiros-item .imgparceiros-container {
  width: 100%;
  height: 130px;
  background-color: white;
  box-shadow: 2px 2px 3px gray;
  display: table-cell;
  vertical-align: middle;
}

.parceiros-item .imgparceiros-container img{
  max-width: 90%;
  height: auto;
  padding: 5%;
  max-height: 150px;
}

.parceiros-list a, .parceiros-list a:visited {
  color: #202020;
}

@media screen and (max-width: 800px) {
  .parceiros-item{
    width: 98%;
    margin: 2%;
  }
}

.logos {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.topic .logos {
  margin-top: 20px;
  position: static;
  text-align: center;
}

.logos img {
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.social {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.social li {
  display: inline;
}

.social a, .social a:visited {
  color: #333;
  font-size: 28px;
  display: inline;
  margin: 10px;
}

.topic-select-text {
  line-height: 1.5em;
  margin: 20px;
  text-align: justify;
}

.topic-select-text br {
  display: block;
  margin-bottom: 20px;
}

#second-topics {
  width: 100%;
  display: flex;
}

ul#topics.topics-left li, ul#topics.topics-right li {
  min-height: 600px;
}

#search.search-home {
  background: transparent;
  text-align: center !important;
  box-shadow: none;
  justify-content: center;
}
