@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body, html, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-weight: lighter;
  background: #f6f6f5;
}

.App {
  text-align: left;
  width: 100%;
  position: relative;
}

header, footer {
  background: #fff;
  padding: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  padding: 0;
}

header h1 {
  cursor: pointer;
}

header h1, footer h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #202020;
  margin: 0;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header ul li, footer ul li {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #202020;
  margin: 0 40px;
}

header a, footer a,
header a:visited, footer a:visited,
header a:active, footer a:active {
  color: #202020;
  text-decoration: none;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  color: #202020;
  text-align: center;
  font-weight: bold;
  margin-top: 110px;
}

#search {
  font-family: 'Source Sans Pro', sans-serif;
  width: 95%;
  max-width: 850px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px;
  color: #474747;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#search select {
  margin: 0 10px;
  padding: 5px;
  border-radius: 16px;
  background-color: #7dd4c9;
  border: 0;
  outline: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#search select#topic {
  background-color: #f8c255;
}

h3 {
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #202020;
  margin-top: 130px;
  text-align: center;
}

.avatar {
  display: inline-block;
  margin-top: 45px;
  font-size: 135px;
  color: #ccc;
  height: 161px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccc;
}

ul#topics,
ul#candidates {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

ul#candidates a {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  text-decoration: none;
}

ul#topics li,
ul#candidates li {
  margin: 10px;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
}

ul#topics li h4,
ul#candidates li h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #202020;
  margin: 5px;
}

ul#candidates li img {
  margin-top: -10px;
}

ul#topics li h5,
ul#candidates li h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #202020;
  margin: 5px;
  opacity: 0.5;
}

ul#candidates li {
  cursor: pointer;
}

ul#topics li {
  padding: 32px;
  height: auto;
  max-width: 900px;
  text-align: left;
}

ul#topics p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 5px;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 600;
  color: #202020;
  line-height: 1.5em;
}

ul#topics p.tags {
  opacity: 1;
}

.candidateTag, .topicTag {
  margin: 10px 10px 10px 0;
  border-radius: 16px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  opacity: 1;
}

.candidateTag {
  background-color: #7dd4c9;
}

.topicTag {
  background-color: #f8c255;
}

div#candidate {
  display: flex;
  max-width: 900px;
  width: 100%;
}

div#candidate .avatar {
  margin: 20px;
  width: 160px;
}

div#candidate img {
  margin-top: -10px;
}

div#candidate > div > div {
  max-width: 650px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

div#candidate h4 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #202020;
}

div#candidate h5 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 20px;
  color: #202020;
  margin-bottom: 20px;
}

div#candidate .field {
  margin: 0 50px 50px 0;
}

div#candidate .field strong {
  opacity: 0.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #202020;
}

div#candidate .field span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #202020;
}

.page {
  padding: 20px;
}

.page p {
  color: black;
  font-size: 24px;
}
